.wrapper,
charts-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
}

.charts-wrapper{
    width: 92%;
    height: auto;
    justify-content: space-between;
    padding: 2rem;
    border-radius: 0.5 rem;
    box-shadow: var(--shadow);
    margin: 2 rem;
}